body {
	background-color: #143988;
	color: white;
	font-size: 15px;
}

.heading {
	font-family: 'Abril Fatface', cursive;
}

label {
	font-family: 'Faustina', serif;
	font-size: 20px;
}

.row {
	margin-bottom: 10px;
}

#new-show {
	width: 100%;
}

.style-buttons {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #fa8072;
	color: white;
}

#add-show {
	background-color: #fa8072;
	color: white;
	border-radius: 5px;
}

.image-spacing {
	float: left;
	margin: 10px;
}

#giphy-logo {
	margin-top: 30px;
	float: left;
}

#copyright {
	float: right;
	padding-top: 50px;
}

.footer {
	overflow: auto;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
}