body {
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #c0d6e4;
	color: white;
	font-size: 15px;
}

.heading {
	font-family: 'Abril Fatface', cursive;
}

label {
	font-family: 'Faustina', serif;
	font-size: 20px;
}

.row {
	margin-bottom: 10px;
}

#new-show {
	width: 450px;
}

.style-buttons {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #fa8072;
	color: white;
}

#add-show {
	background-color: #fa8072;
	color: white;
	border-radius: 5px;
}

.image-spacing {
	float: left;
	margin: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: right;
}