body {
	background-color: #c0d6e4;
}

.row {
	margin-bottom: 40px;
}
#new-feeling {
	width: 450px;
}

.style-buttons {
	padding: 10px;
	margin: 20px;
	border-radius: 10px;
	background-color: #fa8072;
	color: white;
}